{% extends "layout.html" %}
{% block content %}

<style type="text/css">

    td{

    font-family:'ws';
    padding-left:0px;
    }

</style>
<input type="hidden" id="uid" value="{{current_user.id}}"/>

<div ng-controller="appController">


    <table style="width:100%">
        <tr>
            <td><h3 style="display:inline">My Reports</h3></td>
            <td align="right" style="vertical-align:middle"><a ng-click="createForm()"><i class="fa fa-plus"></i> Create
                new</a></td>
        </tr>
    </table>
    <hr>
    <div ng-repeat="p in projlist" style="margin-bottom:40px">

        <h4>||p.name||</h4>

        <br>

        <table class="table table-striped">
            <tr style="font-family:wb">
                <td><b>Report Date</b></td>
                <td align="center">Week Status</td>
                <td align="center">Form Status</td>
                <td></td>
            </tr>
            <tr ng-repeat="f in p.forms">

                <td style="width:35%"><a href="/form/||f.fid||">||f.date||</a></td>
                <td style="width:30%" align="center">


                    <i class="fa fa-circle-o" ng-show="f.status==1" style="font-size:14px;color:red;margin:10px "></i>


                    <i class="fa fa-circle-o" ng-show="f.status==2"
                       style="font-size:14px;color:#FFBF00;margin:10px"></i>


                    <i class="fa fa-circle-o" ng-show="f.status==3" style="font-size:14px;color:green;margin:10px"></i>

                </td>
                <td style="width:30%" align="center" style="width:25%">||f.formstatus||</td>
                <td style="width:5%"><i class="fa fa-times" style="color:red"></i></td>

            </tr>
        </table>
    </div>


</div>

{% endblock %}
