
    <table class="table" style="width:100%">

        <tr>

            <td style="vertical-align:middle">Last Week Overall Status</td>

            <td align="right" style="vertical-align:middle">

                <button class="btn btn-sm red deactive" id="lswr">Red</button>
                <button class="btn btn-sm red deactive" id="lswr">Yellow</button>
                <button class="btn btn-sm red deactive" id="lswr">Green</button>

            </td>

            <td align="right" style="vertical-align:middle">

                <!--<textarea placeholder="Brief reason / update on yellow / red status"></textarea>-->

            </td>

        </tr>

        <tr>

            <td style="vertical-align:middle">Current Overall Status</td>

            <td align="right" style="vertical-align:middle">

                <button class="btn btn-sm red deactive" id="lswr">Red</button>
                <button class="btn btn-sm red deactive" id="lswr">Yellow</button>
                <button class="btn btn-sm red deactive" id="lswr">Green</button>

            </td>

            <td align="right" style="vertical-align:middle">

                <textarea placeholder="Brief reason / update on yellow / red status"></textarea>

            </td>

        </tr>

        <tr>

            <td style="vertical-align:middle">Stakeholders</td>

            <td align="right" style="vertical-align:middle">

                <button class="btn btn-sm red deactive" id="lswr">Red</button>
                <button class="btn btn-sm red deactive" id="lswr">Yellow</button>
                <button class="btn btn-sm red deactive" id="lswr">Green</button>

            </td>

            <td align="right" style="vertical-align:middle">

                <textarea placeholder="Brief Brief reason / update on yellow / red status"></textarea>

            </td>

        </tr>

        <tr>

            <td style="vertical-align:middle">Business & Benefits</td>

            <td align="right" style="vertical-align:middle">

                <button class="btn btn-sm red deactive" id="lswr">Red</button>
                <button class="btn btn-sm red deactive" id="lswr">Yellow</button>
                <button class="btn btn-sm red deactive" id="lswr">Green</button>

            </td>

            <td align="right" style="vertical-align:middle">

                <textarea placeholder="Brief reason / update on yellow / red status"></textarea>

            </td>

        </tr>

        <tr>

            <td style="vertical-align:middle">Work & Schedule</td>

            <td align="right" style="vertical-align:middle">

                <button class="btn btn-sm red deactive" id="lswr">Red</button>
                <button class="btn btn-sm red deactive" id="lswr">Yellow</button>
                <button class="btn btn-sm red deactive" id="lswr">Green</button>

            </td>

            <td align="right" style="vertical-align:middle">

                <textarea placeholder="Brief reason / update on yellow / red status"></textarea>

            </td>

        </tr>

        <tr>

            <td style="vertical-align:middle">Team</td>

            <td align="right" style="vertical-align:middle">

                <button class="btn btn-sm red deactive" id="lswr">Red</button>
                <button class="btn btn-sm red deactive" id="lswr">Yellow</button>
                <button class="btn btn-sm red deactive" id="lswr">Green</button>

            </td>

            <td align="right" style="vertical-align:middle">

                <textarea placeholder="Brief reason / update on yellow / red status"></textarea>

            </td>

        </tr>

        <tr>

            <td style="vertical-align:middle">Scope</td>

            <td align="right" style="vertical-align:middle">

                <button class="btn btn-sm red deactive" id="lswr">Red</button>
                <button class="btn btn-sm red deactive" id="lswr">Yellow</button>
                <button class="btn btn-sm red deactive" id="lswr">Green</button>

            </td>

            <td align="right" style="vertical-align:middle">

                <textarea placeholder="Brief reason / update on yellow / red status"></textarea>

            </td>

        </tr>

        <tr>

            <td style="vertical-align:middle">Risks</td>

            <td align="right" style="vertical-align:middle">

                <button class="btn btn-sm red deactive" id="lswr">Red</button>
                <button class="btn btn-sm red deactive" id="lswr">Yellow</button>
                <button class="btn btn-sm red deactive" id="lswr">Green</button>

            </td>

            <td align="right" style="vertical-align:middle">

                <textarea placeholder="Brief reason / update on yellow / red status"></textarea>

            </td>

        </tr>

        <tr>

            <td style="vertical-align:middle">Model N Benefits</td>

            <td align="right" style="vertical-align:middle">

                <button class="btn btn-sm red deactive" id="lswr">Red</button>
                <button class="btn btn-sm red deactive" id="lswr">Yellow</button>
                <button class="btn btn-sm red deactive" id="lswr">Green</button>

            </td>

            <td align="right" style="vertical-align:middle">

                <textarea placeholder="Brief reason / update on yellow / red status"></textarea>

            </td>

        </tr>


    </table>



